body {
    line-height: 1.7;
    font-family: "segoe UI", Arial sans-serif;
    background-color: rgb(144, 142, 142);
    color: black;
    margin: 0;
    padding: 0;
}

main {
    max-width: 900px;
    margin: auto;
}

.about-container {
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
}

header {
    background-color: lightgrey;
    border: 2px solid rgb(88, 87, 87) ;
    border-radius: 10px;
    color: black;
    margin: 15px;
    text-align: center;
}

nav a {
    color: blue;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

nav a:hover {
    text-decoration: underline;
    background-color: rgb(88, 87, 87);
    cursor: pointer;
}
section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    border:  2px solid rgb(77, 77, 77);
    border-radius: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    color: black;
    font-size: 32px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

h2 {
    color: black;
    background-color: rgb(57, 57, 57);
    border: 3px solid rgb(35, 30, 30);
    border-radius: 8px;
    font-size: 25px;
    text-transform: capitalize;
    margin: 5px;
    padding: 11px;
}

p {
    font-size: 16px;
    max-width: 700px;
}

ul {
    list-style-position: inside;
}

form {
    max-width: 300px;
}

input[type="text"] {
    background-color: white;
    border: 3px solid grey;
    border-radius: 8px;
    color: grey;
    font-weight: 500;
    font-size: medium;
    margin: 5px;
    padding: 10px 15px;
}

input[type="text"]:hover {
    background-color: rgb(81, 79, 79);
    transition: 0.3s;
}

input[type="email"] {
    background-color: white;
    border: 3px solid grey;
    border-radius: 8px;
    color: grey;
    font-weight: 500;
    font-size: medium;
    margin: 5px;
    padding: 10px 15px;
}

input[type=email]:hover {
    background-color: rgb(81, 79, 79);
    transition: 0.3s;
}

textarea[id="message"] {
    background-color: white;
    color: grey;
    font-weight: 500;
    font-size: large;
    border: 3px solid grey;
    border-radius: 8px;
    margin: 5px;
    padding: 10px 15px;
}

textarea[id="message"]:hover {
    background-color: rgb(81, 79, 79);
    transition: 0.3s;
}

input[type="submit"] {
    background-color: white;
    color: black;
    border: 3px solid grey;
    border-radius: 8px;
    font-weight: 500;
    font-size: medium;
    margin: 20px;
    padding: 10px 15px;
    cursor: pointer;
}

input[type="submit"]:hover {
   background-color: rgb(81, 79, 79);
   transition: 0.3s;
}

label {
    display: block;
    color: solid black;
    margin-top: 10px;
    border: none;
    padding: 10px 15px;
}

input, textarea, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.center{
    font-family: sans-serif;
    text-align: center;
}

footer {
    background-color: lightgray;
    border: 2px solid rgb(88, 87, 87) ;
    border-radius: 8px;
    color: black;
    margin: 5px;
    padding: 6px;
    font-size: 14px;
}

@media (max-width: 768px) {
    body {
        font-size: 15px;
    }

    header h1 {
        font-size: 15px;
    }

    section {
        padding: 15px;
    }

    img {
        width: 100px;
        max-width: 250px;
        height: auto;
    }
}